<html>
  <head>
    <title>Maze Bot Video Feed</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <script src="{{url_for('static', filename='joystick.js')}}"></script>
    <script>
      var wait = false;
      function throttleSend(limit, data) {
        return function () {
          if (!wait) {
            send(data.distance, data.angle.radian);
            wait = true;
            setTimeout(function () {
              wait = false;
            }, limit);
          }
        };
      }

      function send(speed, angle) {
        document.getElementById("speed").value = speed;
        document.getElementById("angle").value = angle;
        document.getElementById("ninja").submit();
      }

      function joystick() {
        var dynamic = nipplejs.create({
          zone: document.getElementById("rectangle"),
          mode: "static",
          position: { left: "250px", top: "650px" },
          color: "blue",
        });

        dynamic.on("move", function (evt, data) {
          throttleSend(200, data)();
        });

        dynamic.on("end", function (evt, data) {
          send(0, 0);
        });
      }
    </script>
  </head>
  <body onload="joystick()">
    <h1>Maze Bot Video Feed</h1>
    <img src="{{ url_for('video_feed') }}" />
    <div id="rectangle"></div>

    <form
      id="ninja"
      action="{{ url_for('set_heading') }}"
      method="POST"
      target="hiddenFrame"
    >
      <input id="speed" name="speed" value="0" />
      <input id="angle" name="angle" value="0" />
      <input type="submit" />
    </form>

    <iframe
      name="hiddenFrame"
      width="0"
      height="0"
      style="display: none"
    ></iframe>
  </body>
</html>
